@charset "UTF-8";
/* @font-face {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: normal;
} */

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
    background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
    margin: 0;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.3px;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

h2,h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #bfba55;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.col-md-8 {
  padding-top: 20px;
  margin-left: 200px;
}

.thumbnail .caption-full {
	padding: 9px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

.main-single-post {
  background: url('https://cdn.glitch.com/8c4da757-c9c6-4704-99c8-43d77aa7e93e%2Fcontact-bg.jpg?v=1568639144909') no-repeat;
  height: 65vh;
}

.just {
  text-align: center;
  margin-top: 100px;
}

.delete-form {
	display: inline;
}

.center {
  text-align: center;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    margin: 0 !important;
    padding: 18px 0;
}

.navbar-default .navbar-brand {
  color: #555;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #bfba55 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606066;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #bfba55;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #bfba55;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bfba55;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.btn {
  border-radius: 100px;
  color: #777;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 22px;
  margin-bottom: 15px; 
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: #bfba55;
  border-color: transparent;
  color: #ffffff;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #000;
    color: #ffffff;
    padding: 20px;
    position: relative;
}

footer hr {
  border-color: #121212;
  margin-top: 62px;
}

footer .footer-copyright {
  padding-top: 12px;
}

.blog-comment .media h3 {
  color: #444;
  font-size: 18px;
  letter-spacing: 1px;
}

.blog-comment {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 32px;
  margin-bottom: 42px;
}

.blog-comment .media:nth-child(2) {
  padding-top: 22px;
}

.blog-comment .media img {
  width: 82px;
  margin-right: 12px;
}

.blog-comment .media h3 {
  display: inline-block;
  padding-right: 14px;
}


.blog-comment-form h3 {
  padding-bottom: 18px;
}

.blog-comment-form .form-control {
  box-shadow: none;
  border: 2px solid #f0f0f0;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form .form-control:hover {
  border-color: #555;
}

.blog-comment-form input {
  height: 45px;
}

.blog-comment-form input[type="submit"] {
  background: #bfba55;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

.blog-comment-form input[type="submit"]:hover {
  background: #333;
  border-color: transparent;
  color: #ffffff;
}