@charset "UTF-8";
@font-face {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.col-md-8 {
  padding-top: 20px;
  margin-left: 200px;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    margin: 0 !important;
    padding: 18px 0;
}

.navbar-default .navbar-brand {
  color: #555;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #bfba55 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606066;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #bfba55;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #bfba55;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bfba55;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.btn {
  border-radius: 100px;
  color: #777;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 22px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: #bfba55;
  border-color: transparent;
  color: #ffffff;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #000;
    color: #ffffff;
    padding: 80px 0px;
    position: relative;
}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
}

footer hr {
  border-color: #121212;
  margin-top: 62px;
}

footer .footer-copyright {
  padding-top: 12px;
}

/* Back top */
.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #bfba55;
    color: #ffffff;
}