<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To Marketplace Beta!</h1>
			<p>If you can't get it here, you can't get it anywhere.</p>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% items.forEach((item) => { %>
			<div class="col-md-3 col-sm-6">
        <div class="thumbnail">
           
					 <div class="caption">
						 <h4 class='pull-left'><%= item.name %></h4>
             <h6 class="pull-right"><em>$<%= item.price %></em></h6>
					 </div>
					 <p>
						 <a href="/items/<%= item._id %>"><img src="<%= item.image %>"></a>
					 </p>
        </div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>
